@model Domain.Models.ViewModels.Reservation

@{
    ViewData["Title"] = "Reservation";
}
<br />
<br />
<br />
<br />
<h2>Reservation</h2>

<hr />
<form asp-action="Reservation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdultsNumber" class="control-label"></label>
                <input asp-for="AdultsNumber" class="form-control" />
                <span asp-validation-for="AdultsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomTypeNum" class="control-label"></label>
                <select asp-for="RoomTypeNum" class="form-control" asp-items=@(new SelectList( ViewBag.RoomTypes,"Id","TypeName"))></select>
                <span asp-validation-for="RoomTypeNum" class="text-danger"></span>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="ChildrenNumber" class="control-label"></label>
                <input asp-for="ChildrenNumber" class="form-control" />
                <span asp-validation-for="ChildrenNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomsCount" class="control-label"></label>
                <input asp-for="RoomsCount" class="form-control" />
            <div id="mesg"></div>
                <span asp-validation-for="RoomsCount" class="text-danger"></span>
            </div>    <div class="form-group">
                <label asp-for="MealPlan" class="control-label"></label>
                <select asp-for="MealPlan" class="form-control" asp-items=@(new SelectList( ViewBag.mealplans,"Id","MealType","Id"))></select>
                <span  asp-validation-for="MealPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Note</label>
                <ul>
                    <li>Children age shall be between 1-17 (include children less than a year)</li>
                    <li>Each Room Take <b style="color:darkred">only</b>  2 adults and 2 children  </li>
                    <li>Minimum Number of Rooms is determined on the later Rules  </li>

                </ul>

            </div>

        </div>


    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Next</button>
    </div>
</form>


@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    var AN = 0;
    var CN = 0;
    //AdultsNumber
    //ChildrenNumber
    $("#AdultsNumber").keyup(function (event) {
        AN = (isNaN(parseInt(document.getElementById("AdultsNumber").value))) ? 0 : parseInt(document.getElementById("AdultsNumber").value);
        CN = (isNaN(parseInt(document.getElementById("ChildrenNumber").value))) ? 0 : parseInt(document.getElementById("ChildrenNumber").value);
        console.log(AN + " " + CN) 
    });
    $("#ChildrenNumber").keyup(function (event) {
        AN = (isNaN(parseInt(document.getElementById("AdultsNumber").value))) ? 0 : parseInt(document.getElementById("AdultsNumber").value);
        CN = (isNaN(parseInt(document.getElementById("ChildrenNumber").value))) ? 0 : parseInt(document.getElementById("ChildrenNumber").value);
        console.log(AN + " " + CN)
      
    });

    $("#RoomsCount").keyup(function (event) {
            var x = Math.max(AN, CN);
            console.log("aaaaaa"+" "+x)
            x = Math.ceil(x);
            if (document.getElementById("RoomsCount").value < x) {
               
                document.getElementById("RoomsCount").value = x;
                document.getElementById("mesg").textContent = "Minmum Rooms For You is " + x ;
               

            }
            console.log(AN + " " + CN)
        });
    
</script>
}